@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";


.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-family: 'Poppins', sans-serif;
    background: rgb(57, 54, 54);
    height:10vh;
}

.nav-list {
    list-style: none;
    display: flex;
}
  
.nav_bar li {
    color: white;
    letter-spacing: 3px;
    margin-left: 32px;
}

.a_menu{
    color: green;
    font-weight: bold;
    text-decoration: none;
}


#logo{
    width: 120px;
}

